<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html ng-app="ngChat">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body >
    <header>
      <h1>
        A Dream of the Future
      </h1>
    </header>

    <main ng-controller="MainController" ng-cloak>
      <div class="pages">
        <div class="chatArea">
          <div class="messages">
               {{message}}
          </div>
        </div>
     
      </div>
      <div class="login page">
        <form class="form" ng-submit="Login()">
          <h3 class="title">What's your nickname?</h3>
          <input class="usernameInput" type="text" ng-model="nickname" maxlength="14" />
        </form>  
      </div>
      
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
   
    

  </body>
</html>
